@charset"UTF-8";

html {
scroll-behavior: smooth;
}

.body {
	font-size: 18px;
	margin: 0;
}

.header {
	background: #ef6323;
	color:white;
	text-align: center;
	padding:100px 5px;
}

.header a {
	color: white;
	border:solid 1px white;
	border-radius:10px;
	padding:5px 10px;
	margin: 0 3px;
}

.header a:hover {
	background: #f1faee;
	color: #ef6323;
}

.main {
	background: #ffa500;
	padding: 10px 0 40px 0;
}

.main h2 {
	color:white;
	text-align: center;
	margin: 40px 0;
}

.main img {
	width: 100%;
}

.mokuji {
	background: #f1faee;
	width: 250px;
	margin: 30px auto;
	padding: 10px;
	border-radius: 10px;
}

.mokuji h3 {
	text-align: center;
	margin:0;
}

.mokuji ul {
	margin: 10px 0;
}

.mokuji a {
	transition:all 1s;
}

.mokuji a:hover {
	color:blue;
}

.contents {
	background: #f1faee;
	width:80%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
}

.contents p {
	padding-left: 5px;
	border-left:solid 10px #a8dadc;
}

.circle {
	width:20px;
	margin:40px auto;
}

.circle div {
	background: #f1faee;
	width: 20px;
	height: 20px;
	margin-bottom: 10px;
	border-radius: 100%;
}

.footer {
	background: #457b9d;
	color:white;
	text-align: center;
	padding: 10px 0;
}
